<!DOCTYPE html>
<html lang="en">

<head>
  <title>Compete Finder | by Simran Tanwani</title>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <!-- Option 1: Include in HTML -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  

  <!-- Font Awesome Cdn Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>

<body>
  <div class="container-fluid">
    
        <div class="logo">
          <img src="{{ url_for('static', filename='images/log.jpg') }}" alt="Logo" />
          <p>Compete Finder</p>
        </div>
        <ul style="cursor: pointer;">
          <li style="cursor: pointer;" >
            <a href="">
              <i class="fas fa-home"></i>
              <span class="nav-item">Home</span>
            </a>
          </li>
          <li>
            <a  style="cursor: pointer;" href="Companies.html">
              <i class="fas fa-chart-bar"></i>
              <span class="nav-item">Companies</span>
            </a>
          </li>
          <li>
            <a href="Compete.html">
              <i class="fas fa-tasks"></i>
              <span class="nav-item">Find Competitors</span>
            </a>
          </li>
          
        
        </ul>
      </div>
    </nav>

    <section class="main" >
      <div class="main-top" >
        
        <p>Explore the universe!</p>
      </div>
      <h1>
        Hello,<br />
        Welcome to Compete Find
      </h1>
      
      <div class="context">
      </div>

     <div clas="newback" style="background-color: blueviolet;">
        <p style="color: beige; font-size: large; text-align: center;">Welcome to Compete Find - your comprehensive solution for exploring startup data and identifying competitors in the dynamic world of entrepreneurship!<br><br></p>

          <p style="color: beige;text-align: center; "> Compete Find, we understand the importance of staying informed about the latest developments in the startup ecosystem. Whether you're an investor seeking promising opportunities, an entrepreneur looking to understand the competitive landscape, or a researcher analyzing industry trends, Compete Find provides you with the tools and insights you need to make informed decisions.
          
          With our advanced web scraping technology, we aggregate data from a variety of sources to create a vast repository of startup information. From company names and valuations to industries and founding dates, our database is continuously updated to ensure you have access to the most relevant and up-to-date information.<br>Whether you're a seasoned investor, a budding entrepreneur, or a curious observer of the startup world, Compete Find is your ultimate companion for navigating the complex and ever-changing landscape of startups. Get started today and unlock a world of possibilities with Compete Find!</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
         </div>
    </section>
   
  </div>

</body>

</html>